body {
	background-color: #f1daf2;
	width: 600px;
	height: 600px;
	margin: auto;
}

h1 {
	color: #8b6fa0;
	font-family: sans-serif;
	font-size: 30px;
	letter-spacing: 3px;
	text-align: center;
	font-weight: normal;
}

p {
	color: #8b6fa0;
	font-size: 16px;
	text-align: center;
}

#game {
	width: 500px;
	height: 450px;
	margin: auto;
	text-align: center;
}

#record {
	width: 500px;
	height: 80px;
	position: relative;
}

#startButton {
	position: absolute;
	left: 15px;
}

#stopButton {
	position: absolute;
	left: 115px;
}

.button {
	font-family: sans-serif;
	line-height: 20px;
	letter-spacing: 1px;
	color: #8b6fa0;
	background-color: transparent;
	border: solid 1px #8f7db1;
	border-radius: 20px;
	outline: 0;
}

.button:hover {
	background-color: #8f7db1;
    color: #f1daf2;
    transition: 0.2s;
}

.button:active, .button.active, .button.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); 
    background-color: #8f7db1;
    color: #f1daf2;
}

#screen {
	width: 280px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	left: 15px;
	top: 35px;
	border: solid 1px #8f7db1;
	border-radius: 20px;
	color: #8b6fa0;
	font-size: 16px;
	text-align: center;
	transition: 0.5s;
	user-select: none;
}

#time {
	color: #8b6fa0;
	font-size: 16px;
	position: absolute;
	right: 130px;
	user-select: none;
}

#timeFrame {
	width: 100px;
	height: 20px;
	line-height: 20px;
	border: solid 1px #8f7db1;
	border-radius: 10px;
	position: absolute;
	left: 50px;
	top: 0;
	user-select: none;
}

#score {
	color: #8b6fa0;
	font-size: 16px;
	position: absolute;
	right: 130px;
	top: 40px;
	user-select: none;
}

#scoreFrame {
	width: 100px;
	height: 20px;
	border: solid 1px #8f7db1;
	border-radius: 10px;
	position: absolute;
	left: 55px;
	top: 0;
	user-select: none;
}

#matrix {
	width: 500px;
	height: 350px;
	background-color: #8f7db1;
	border-radius: 20px;
	text-align: center;
	position: relative;
}

#buttons {
	width: 350px;
	height: 300px;
	vertical-align: center;
	position: absolute;
	top: 20px;
	left: 80px;
}

input {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 18px;
}

#instructions {
	color: #8b6fa0;
	font-size: 18px;
	text-indent: -15px;
	font-weight: bold;
}

#instructions li {
	margin-top: 5px;
	color: #8b6fa0;
	font-size: 16px;
	text-indent: 0;
	font-weight: normal;
	margin-left: 30px;
}